
* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}



/*---------------------------------------
    TYPOGRAPHY              
-----------------------------------------*/

h1,h2,h3,h4,h5,h6 {
    line-height: inherit;
}

h1 {
    font-size: 3em;
    line-height: 50px;
}

h2 {
    color: #353535;
    font-size: 2em;
    padding-bottom: 10px;
}

h3 {
    font-size: 1.5em;
    margin-bottom: 0;
}

p {
    color: #757575;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
}


/* Head */

#header {
    height: 70vh;
    background: url("image/header_pic.jpg") center no-repeat;
    background-position: top;
    background-size: cover;

    display: flex;
    align-items: center;
}

.container {
    width: 70%;
    margin: auto;
    padding: 50px 0;
}

.header-text {
    color: white;
}

.header-text h1 {
    padding: 0 0 10px 0;
}




/* About */
#about {
    background: #ec7530;
}

#about h4{
    font-weight: normal;
    color: white;

}



/* Background | Role | Tools | Duration */


.background-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.background {
    flex-basis: 60%;
    padding: 0 5px 0 0 ;
}

.background-right-col {
    flex-basis: 35%;
}

#background h3 {
    color: #ec7530;
}


/* The Brief */ 
#brief {
    background: #F6F6F6;
}

#brief h3 {
    color: #ec7530;
}


.brief-image {
    display: flex;
    justify-content: center;
}


.brief-image img {
    width: 50%;
    min-width: 539px;
    padding: 20px 0 10px 0;

}

.img-desc{
    text-align: center;
}





/* The Outcome */

#outcome h3 {
    color: #ec7530;
}

.outcome-design {
    margin: 5vh 0 0 0;
}


.design-images {
    display: flex;
    justify-content: space-between;
    padding: 10px 0 0 0 ;
}

.design-images img {
    width: 45%;
    margin: auto;
}





/* Responsive | for smaller screen with a max-width of 770px
*/

@media only screen and (max-width: 770px) {
    .background-row {
        display: block;
    }
    .design-images {
        display: block;
    }
    .design-images img {
        width: 100%;
    }
    .brief-image img {
        width: 100%;
        min-width: 50%;
    }
}
